<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

		<h:panelGroup>
			<br /> Mettez ici un pied de page <br /><br />  
		</h:panelGroup>
 
</ui:composition>